html,
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 0px 20px;
    gap: 5px;
}

.heroContainer,
header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: 150px;
    margin-bottom: -5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}

h1 {
    justify-self: flex-start;
    flex: 1 0 auto;
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
}

h1,
h2 {
    color: #f9faf8;
}

p,
a {
    color: #e5e7eb;
    font-size: 18px;
}

.heroRight {
    width: 500px;
}

.heroLeft {
    width: 500px;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.heroContainer {
    justify-content: center;
    height: 600px;
    gap: 3em;
}

button {
    border: #ffffff 2px solid;
    padding: 0.5em;
    border-radius: 5px;
    background: #3882f6;
    font-size: 1em; 
    font-weight: 900;
    color: #ffffff;
    width: fit-content;
}

.heroLeft > button {
    border: none;
}

.info.pic {
    width: 15em;
    border:#3882f6 3px solid;
    border-radius : 13px;
    background: #3882f6;
    padding: 5px 5px 1px;
}

.info.capt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    margin-bottom: 20px;
}

.info.title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 30px 0px 0px;
}

img.info {
    margin-bottom: -5px;
}

.info.box {
    width: min-content;
    margin: 10px 50px 10px; 
}

.info > p {
    color: #59687e;
    margin-top: 0.5em;
}

p.quote {
    color: #1f2937;
}

div.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 500px;
    background: #e5e7eb;
}

.quote.wrap {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.quote.credit {
    align-self: flex-end;
    font-weight: 900;
}

.quote.content {
    width: 500px;
    font-size: 36px;
}
