html,
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 0px 20px;
    gap: 5px;
}

.heroContainer,
header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: 150px;
    margin-bottom: -5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}

h1 {
    justify-self: flex-start;
    flex: 1 0 auto;
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
}

h1,
h2 {
    color: #f9faf8;
}

p,
a {
    color: #e5e7eb;
    font-size: 18px;
}

.heroRight {
    width: 500px;
}

.heroLeft {
    /*flex: 1;*/
    width: 500px;
}

.heroContainer {
    justify-content: center;
    height: 700px;
}